--- 
layout:     nanohub
permalink:  /
title:      About ScattPy
---

 <p>ScattPy is an open source Python package for light scattering simulations.
 Its goal is to provide an easy-to-use and flexible modern framework for 
the numerical solving of the diffraction problems with various kinds of particles. 

 <p> With the current version of ScattPy [<a>cite:Vinokurov_jqsrt2011</a>]
    it is possible to calculate far- and near-field optical properties of light
    scattered by dielectric particles with axial symmetry.
     With ScattPy homogeneous and multilayered particles can be handled
     [<a>cite:Vinokurov_optsp2010</a>,<a>cite:Vinokurov_jqsrt2009</a>].

 <p> ScattPy includes the <em>separation of variables</em> (SVM), 
     <em>extended boundary condition</em> (EBCM) and <em>point matching</em> (PMM) methods.
     For a review of these methods and their applicability please see 
     [<a>cite:Farafonov_optsp2010</a>,<a>cite:Farafonov_optsp2007</a>]. 
    

<h3>Authors</h3>

<p> ScattPy is developed and maintained by 
   <a href="{{site.authors.vinokurov.url}}">{{site.authors.vinokurov.full}}</a>. 
<p> The numerical techniques implemented in the ScattPy are based on the results 
   of the research performed by {{site.authors.farafonov.full}}, 
   {{site.authors.ilin.full}} and
   <a href="{{site.authors.vinokurov.url}}">{{site.authors.vinokurov.full}}</a>
   in collaboration with Prof.&nbsp;N.V.&nbsp;Voshchinnikov.
   The original approach was proposed by {{site.authors.farafonov.full}}. 

<h3>Terms of Use</h3>

<p>ScattPy is an open source project, distributed under the BSD license.
<p>If you are using the package in your research please cite it as
<blockquote>
A.&nbsp;A. Vinokurov, V.&nbsp;B. Il'in, and V.&nbsp;G. Farafonov, <em>Scattpy: a new
  python package for light scattering computations</em>, J. Quant. Spectr. Rad.
  Transf., In Press (accepted) (2011).
[&nbsp;<a href="scattpy_bib_short_bib.html#Vinokurov_jqsrt2011">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1016/j.jqsrt.2011.01.010">http</a>&nbsp;]
</blockquote>

<h3>References</h3>

{% include scattpy_bib_short.html %}

<h2>Latest news</h2>
{% include posts.html %}
