--- 
layout:     nanohub
permalink:  /
title:      About ScattPy
---

 <p>ScattPy is an open source Python package for light scattering simulations.
 Its goal is to provide an easy-to-use and flexible modern framework for 
the numerical solving of the diffraction problems with various kinds of particles. 

 <p> With the current version of ScattPy [<a>cite:Vinokurov_jqsrt2011</a>]
    it is possible to calculate far- and near-field properties of light
    scattered by dielectric particles with axial symmetry.
    

<h3>Authors</h3>

<p> ScattPy is developed and maintained by 
   <a href="{{site.authors.vinokurov.url}}">{{site.authors.vinokurov.full}}</a>. 
<p> The numerical techniques implemented in the ScattPy are based on the results 
   of the research performed by {{site.authors.farafonov.full}}, 
   {{site.authors.ilin.full}} and
   <a href="{{site.authors.vinokurov.url}}">{{site.authors.vinokurov.full}}</a>
   in collaboration with Prof.&nbsp;N.V.&nbsp;Voshchinnikov.

<h3>References</h3>

{% include scattpy_bib_short.html %}

<h2>Latest news</h2>
{% include posts.html %}
