{%assign author=post.author %}
{% if author == null %}
  {% assign author=site.authors.scattpy %}
  {% for auth in site.authors %}
      {% if auth[0] == post.author_id %} {%assign author=auth[1] %} {%endif%}
  {%endfor%}
{%endif%}

  <h2><a href="{{post.url}}" class="reverse url entry-title" rel="bookmark">{{post.title}}</a> <small></small></h2>
  <div class="meta">
    <div class="who_when">

      <img src="https://secure.gravatar.com/avatar/{{author.gravatar}}d?s=140&d=mm" alt="" width="16" height="16"  />
      <span class="author vcard fn"><a href="{{ author.url }}">{{ author.name }}</a></span>
      <span class="published" title="2011-01-26T10:43:22-08:00"><a href="{{post.url}}#comments">{{ post.date | date:'%d %b %Y' | replace:'>0','>' }}</a></span>
      
    </div>
    <div class="respond">
      <a href="{{post.url}}#disqus_thread">0 comments</a>
    </div>

  </div>
		{% if detail %}
			{{ content }}
		{% else %}
			{{ post.content }}
		{% endif %}
