<table>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Vinokurov_jqsrt2011">1</a>]
</td>
<td class="bibtexitem">
A.&nbsp;A. Vinokurov, V.&nbsp;B. Il'in, and V.&nbsp;G. Farafonov, <em>Scattpy: a new
  python package for light scattering computations</em>, J. Quant. Spectr. Rad.
  Transf., In Press (accepted) (2011).
[&nbsp;<a href="scattpy_bib_short_bib.html#Vinokurov_jqsrt2011">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1016/j.jqsrt.2011.01.010">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Vinokurov_optsp2010">2</a>]
</td>
<td class="bibtexitem">
A.&nbsp;A. Vinokurov, V.&nbsp;B. Il'in, and V.&nbsp;G. Farafonov, <em>On optical
  properties of nonspherical inhomogeneous particles</em>, Opt. Spectr., 109
  (2010), pp.&nbsp;444-453.
[&nbsp;<a href="scattpy_bib_short_bib.html#Vinokurov_optsp2010">bib</a>&nbsp;| 
<a href="http://www.springerlink.com/content/p73236v763717h6x/">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Farafonov_optsp2010">3</a>]
</td>
<td class="bibtexitem">
V.&nbsp;G. Farafonov, V.&nbsp;B. Il'in, and A.&nbsp;A. Vinokurov, <em>Near-and
  far-field light scattering by nonspherical particles: Applicability of
  methods that involve a spherical basis</em>, Opt. Spectr., 109 (2010),
  pp.&nbsp;432-443.
[&nbsp;<a href="scattpy_bib_short_bib.html#Farafonov_optsp2010">bib</a>&nbsp;| 
<a href="http://www.springerlink.com/content/n817681140640142/">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Vinokurov_jqsrt2009">4</a>]
</td>
<td class="bibtexitem">
A.&nbsp;A. Vinokurov, V.&nbsp;G. Farafonov, and V.&nbsp;B. Il'in, <em>Separation of
  variables method for multilayered nonspherical particles</em>, J. Quant. Spectr.
  Rad. Transf., 110 (2009), pp.&nbsp;1356-1368.
[&nbsp;<a href="scattpy_bib_short_bib.html#Vinokurov_jqsrt2009">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1016/j.jqsrt.2009.02.031">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Farafonov_optsp2007">5</a>]
</td>
<td class="bibtexitem">
V.&nbsp;G. Farafonov, A.&nbsp;A. Vinokurov, and V.&nbsp;B. Il'in, <em>Comparison of
  the light scattering methods using the spherical basis</em>, Opt. Spectrosc., 102
  (2007), pp.&nbsp;927-938.
[&nbsp;<a href="scattpy_bib_short_bib.html#Farafonov_optsp2007">bib</a>&nbsp;| 
<a href="http://www.springerlink.com/content/q2118557m035t2r6/">http</a>&nbsp;]

</td>
</tr>
</table>
